$tablet-breakpoint: 48rem; // 768px;
$desktop-breakpoint: 80rem; // 1280px;

$primary-background: linear-gradient(45deg, #df7a77, #d6a15b);
$primary-text: #213547;
$calls-to-action: #392302;
$accent: #000000;